@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
    height: 100vh;
    width: 100vw;
}

body {
    overflow: hidden;
}

.navigation {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F4050;
}

.login-registration {
    display: flex;
    align-items: center;
}

.login-registration a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.brand {
    display: flex;
    align-items: center;
}

.brand a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1vw;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info-container {
    margin-right: 20px;
}

.user-info h1 {
    font-size: 1.5em;
    color: white;
}

.logout-btn {
    background-color: #ff5555;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

.rbc-event-content {
    display: flex;
    align-items: center;
}
.rbc-event-content svg {
    margin-right: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calendarPage,
.adminPage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}



